<h4>Click an Item To View Content</h4>
<%= link_to 'Create a new item', new_dept_item_path(@dept) %>
<ul>
  <% @items.each do |item| %>
    <li><%= link_to item.name, [@dept, item] %></li>
  <% end %>
</ul>